!build/
_bin/
_gen/
_test/
internal/go/version.go
config.json

# TODO: Remove below when openapi-generator is removed
internal/.openapi-generator/
internal/api/
internal/go/logger.go
internal/go/model_*.go
internal/go/routers.go
internal/.openapi-generator-ignore
internal/Dockerfile
internal/main.go
internal/README.md
